@import "./utils/variables";
//@import "./utils/mixins";
//@import "./utils/keyframes";
@import "./base/fonts";

//@import "./composants/titres";
//@import "./composants/boutons";
@import "./layout/global";
@import "./layout/header";
//@import "./layout/menus";
@import "./layout/footer";
//@import "./pages/loader";
//@import "./pages/presentation";
//@import "./pages/fonctionnement";
//@import "./pages/restaurant";