@font-face {
  font-family: "AbhayaLibre";
  src: url("../../fonts/abhaya-libre/AbhayaLibre-Bold.ttf") format("truetype"), url("../../fonts/abhaya-libre/AbhayaLibre-ExtraBold.ttf") format("truetype"), url("../../fonts/abhaya-libre/AbhayaLibre-Medium.ttf") format("truetype"), url("../../fonts/abhaya-libre/AbhayaLibre-Regular.ttf") format("truetype"), url("../../fonts/abhaya-libre/AbhayaLibre-SemiBold.ttf") format("truetype");
}
.bouton {
  background-color: #e58a0b;
  border: transparent solid 2px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "AbhayaLibre", sans-serif;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  border-radius: 15px;
  box-shadow: grey 5px 5px 5px;
  transition: all 500ms cubic-bezier(0.53, 0.61, 0.28, 0.92);
}
.bouton:hover {
  background-color: #8f5bfe;
}

body {
  font-family: "AbhayaLibre", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
}

.head {
  background-color: #8f5bfe;
  margin-top: 0;
  padding: 20px;
  padding-left: 30px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.head__logo {
  max-width: 150px;
  border-radius: 15px;
}
.head__nav {
  margin: 0;
  padding-top: 10px;
  list-style-type: none;
  justify-self: right;
  display: flex;
  flex-direction: row;
}
.head__nav a {
  font-size: 24px;
  color: white;
}
.head__nav__link {
  font-size: 20px;
  padding-right: 20px;
}

.foot {
  background-color: #8f5bfe;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  font-size: 20px;
}
.foot__list {
  list-style-type: none;
  padding: 0;
  min-width: 150px;
  color: white;
}
.foot__list p {
  font-size: 25px;
  margin: 0;
}
.foot__list--row {
  border-radius: 15px;
  display: flex;
  font-size: 30px;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: #f3e9f1;
}
.foot__link {
  position: relative;
  top: 3px;
}
.foot__link.socials {
  color: #8f5bfe;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 90%;
}
.menu__lien {
  display: block;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__element {
  margin: 5px;
  margin-bottom: 30px;
  min-width: 300px;
  max-width: 30%;
  border: #8f5bfe 2px solid;
  border-radius: 20px;
}
.menu__element__image {
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  width: 100%;
  margin-bottom: -8px;
  flex: 1;
}
.menu__element__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #8f5bfe;
  color: white;
  border-radius: 0 0 15px 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.produit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.produit__bloc {
  width: 50%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.produit__bloc--description {
  text-align: left;
  max-width: 40%;
  padding: 20px;
  margin: auto;
  background-color: #f3e9f1;
  border-radius: 20px;
}
.produit__bloc__form {
  display: flex;
  flex-direction: column;
}
.produit__bloc__form__choix {
  margin: 5px;
  width: 30%;
}
.produit__bloc__form__boutons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.produit__bloc__image {
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  max-width: 80%;
  margin: auto;
  margin-bottom: -5px;
}

.panier {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.panier_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.panier__bandeau {
  background-color: #8f5bfe;
  color: white;
  min-height: 30px;
}
.panier__bandeau--haut {
  border-radius: 15px 15px 0 0;
  margin-top: 20px;
}
.panier__bandeau--bas {
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
}
.panier__bandeau h1 {
  margin: 0;
}
.panier__bandeau p {
  margin: 0;
}
.panier__contenu {
  background-color: #f3e9f1;
  min-height: 100px;
  padding-top: 30px;
}
.panier__contenu p {
  margin: 0;
}
.panier__contenu__retour {
  position: relative;
  top: 25px;
}
.panier__contenu__table {
  width: 100%;
  margin-bottom: 40px;
}
.panier__reset {
  position: relative;
  bottom: 25px;
}

.corbeille {
  cursor: pointer;
}

.formulaire {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.formulaire__contenu {
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.formulaire__contenu input {
  width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.formulaire__bandeau {
  background-color: #8f5bfe;
  color: white;
}
.formulaire__bandeau--haut {
  border-radius: 15px 15px 0 0;
  margin-top: 20px;
}
.formulaire__bandeau--bas {
  height: 30px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
}
.formulaire__bandeau h2 {
  margin: 0;
}

.retour {
  width: 90%;
  margin: auto;
  text-align: center;
}
.retour__bandeau {
  background-color: #8f5bfe;
  height: 30px;
}
.retour__bandeau--haut {
  border-radius: 15px 15px 0 0;
}
.retour__bandeau--bas {
  border-radius: 0 0 15px 15px;
}
.retour__texte {
  background-color: #f3e9f1;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.retour__texte p {
  margin: 0;
  font-size: 20px;
}
.retour__texte p strong {
  color: #e58a0b;
  font-weight: bold;
  font-size: 22px;
}
.retour__texte h1 {
  font-size: 30px;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
