.bouton {
    background-color: $couleur-tertiaire;
    border: transparent solid 2px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "AbhayaLibre", sans-serif;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    box-shadow: grey 5px 5px 5px;
    transition: all 500ms cubic-bezier(.53,.61,.28,.92);
    &:hover {
        background-color: $couleur-primaire;
    }
}