.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    &__element {
        margin: 5px;
        min-width: 20%;
        max-width: 30%;
        border: $couleur-primaire 2px solid;
        border-radius: 20px;
        &__description {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $couleur-primaire;
            color: white;
            border-radius: 0 0 15px 15px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}