.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 90%;
    &__element {
        margin: 5px;
        margin-bottom: 30px;
        min-width: 300px;
        max-width: 30%;
        border: $couleur-primaire 2px solid;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__image {
            object-fit: cover;
            border-radius: 20px 20px 0 0;
            width: 100%;
            margin-bottom: -8px;
        }
        &__description {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $couleur-primaire;
            color: white;
            border-radius: 0 0 15px 15px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}