.panier {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__bandeau {
        background-color: $couleur-primaire;
        color: white;
        min-height: 30px;
        &--haut {
            border-radius: 15px 15px 0 0;
            margin-top: 20px;
        }
        &--bas {
            border-radius: 0 0 15px 15px;
            margin-bottom: 40px;
        }
        h1 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
    &__contenu {
        background-color: $couleur-secondaire;
        &__table {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    &__reset {
        position: relative;
        bottom: 25px;
    }
}

.formulaire {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    &__contenu {
        background-color: $couleur-secondaire;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        input {
            width: 200px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    &__bandeau {
        background-color: $couleur-primaire;
        color: white;
        &--haut {
            border-radius: 15px 15px 0 0;
            margin-top: 40px;
        }
        &--bas {
            height: 30px;
            border-radius: 0 0 15px 15px;
            margin-bottom: 20px;
        }
        h2 {
            margin: 0;
        }
    }
}