.produit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    &__bloc {
        width: 50%;
        min-width: 300px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
            margin: auto;
        &--description {
            text-align: left;
            max-width: 40%;
            padding: 20px;
            background-color: $couleur-secondaire;
            border-radius: 20px;
        }
        &__form {
            display: flex;
            flex-direction: column;
            &__choix {
                margin: 5px;
                width: 30%;
            }
            &__boutons {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
            }
        }
        &__image {
            border-radius: 20px;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
            max-width: 80%;
            margin: auto;
            margin-bottom: -5px;
        }
    }
}